body {
  margin: 0;
  padding: 0;
  background-color: #0b2434;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  max-width: 600px;
  max-height: 500px;
  height: 80vh;
  margin: 10vh auto;
  border-radius: 8px;
}

h1 {
  color: red;
  margin: 2rem auto 0 auto;
}

.textArea {
  padding: 0 5vw;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
}

#btn {
  padding: 1rem 3rem;
  background-color: #5035ff;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 1rem;
}

#diesContainer {
  display: grid;
  grid-template: repeat(2, 100px) / repeat(5, 100px);
  gap: 10px;
  margin: 1rem;
}

.die {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}
